.main-content__title {
  font-family: Roboto;
}

.wrapper {
  margin: auto;
  width: 932px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
  margin-bottom: 86px;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  width: 190px;
  height: 35px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 66%;
  background: #C8DBFB;
}

.hamburger-menu {
  display: none;
}

/* скрываем чекбокс */
#hamburger-menu__toggle {
  opacity: 0;
}

.hamburger-menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  margin-top: -10px;
  position: fixed;
  right: 20px;
  width: 25px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056ec;
}

.hamburger-menu__btn > span::before {
  content: '';
  top: -8px;
}

.hamburger-menu__btn > span::after {
  content: '';
  top: 8px;
}

.hamburger-menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0 6px rgba(.2);
}

.hamburger-menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.hamburger-menu__item:hover {
  background-color: #cfd8dc;
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span {
  transform: rotate(45deg);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__box {
  visibility: visible;
  left: 0;
}

.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
  transition-duration: 0.25s;
}

.hamburger-menu__box {
  transition-duration: 0.25s;
}

.hamburger-menu__item {
  transition-duration: 0.25s;
}

.menu {
  display: flex;
  align-items: center;

}

.menu__item {
  position: relative;
  padding: 0 13px;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: -12px;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  opacity: 0;
  transition: opacity.5s;
  background: #0056EC;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after, .menu__item_active:hover {
  opacity: 1;
}

.main {
  padding: 0% 50% 100px 0;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  width: 176px;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  border-radius: 4px;
  transition: opacity .5s;
  text-decoration: none;
}

.main__button:hover {
  opacity: .5;
}

@media screen and (max-device-width: 768px) {
  .menu {
    display: none;
}

  .logo__name {
    display: none;
  }

  .header {
    margin-bottom: 28px;
  }

  .main {
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
    text-align: center;
  }

  .main__title {
    margin-bottom: 44px;
    font: bold 30px/39px pt_serif, arial, helvetica, sans-serif ;
  }

  .main__subtitle {
    margin-bottom: 25px;
    font: 500 16px/19px pt_serif, Roboto, arial, helvetica, sans-serif ;
  }

  .main__button {
    font: 500 14px/16px pt_serif, Roboto, arial, helvetica, sans-serif ;
  }

  .hamburger-menu {
    display: block;
  }
}
